body {
  align-items: center;
  justify-content: center;
}

::after,
::before {
  box-sizing: border-box;
}

:root {
  --book-height: 288px;
  --book-width: 230px;
  --book-depth: 56px;
  --book-border-radius: 5.4px 1.8px 1.8px 5.4px;
  --accent: #999;

  --bookA-color: #BFCCB5;
  --bookB-color: #E8A0BF;

  --animation-speed: 30s;
}




@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7))
  }
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-track {
  animation: scroll var(--animation-speed) linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 100px;
  width: 250px;
  animation: fadeIn 3s;
  filter: grayscale(100);
}

.slide:hover {
  filter: grayscale(0);
  animation: fadeIn 1s;
}

.slide::before {
  content: '';
}

.overlay {
  color: #fff;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all .2s ease-in-out;
}

/* Parent Div */

.ParentDiv {
    display: flex;
    flex-direction: column;
    column-gap: 5rem;
    gap: 5rem;
    justify-content: center;
}