li {
    list-style: none;
    padding: 1rem 2rem;
    margin: 1rem;
}

a {
    text-decoration: none;
    padding: 1rem 2rem;
    min-width: 3rem;
    color: white;
    background-color: rgb(44, 43, 43);
    border-radius: 1rem;
}